<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding &mdash; Sumesh + Sreelakshmi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sumesh + Sreelakshmi Wedding" />
	<meta name="keywords" content="Sumesh + Sreelakshmi Wedding" />
	<meta name="author" content="Sumesh + Sreelakshmi Wedding" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Sumesh + Sreelakshmi Wedding"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content="Sumesh + Sreelakshmi Wedding"/>
	<meta property="og:description" content="Sumesh + Sreelakshmi Wedding"/>
	<meta name="twitter:title" content="Sumesh + Sreelakshmi Wedding" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="Sumesh + Sreelakshmi Wedding" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="../../../assets/css/animate.css"> -->
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/bootstrap.css"> -->

	<!-- Magnific Popup -->
	<!-- <link rel="stylesheet" href="../../../assets/css/magnific-popup.css"> -->

	<!-- Owl Carousel  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/owl.carousel.min.css"> -->
	<!-- <link rel="stylesheet" href="../../../assets/css/owl.theme.default.min.css"> -->

	<!-- Theme style  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/style.css"> -->

	<!-- Modernizr JS -->
	<!-- <script src="../../../assets/js/modernizr-2.6.2.min.js"></script> -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<!-- <div class="fh5co-loader"></div> -->
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<!-- <li><a href="about.html">Story</a></li> -->
						<!-- <li class="has-dropdown">
							<a href="services.html">Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">eCommerce</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</li> -->
						<li class="has-dropdown">
							<a href="gallery.html">Gallery</a>
							<!-- <ul class="dropdown">
								<li><a href="#">HTML5</a></li>
								<li><a href="#">CSS3</a></li>
								<li><a href="#">Sass</a></li>
								<li><a href="#">jQuery</a></li>
							</ul> -->
						</li>
						<!-- <li><a href="contact.html">Contact</a></li> -->
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/bg2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
            <router-outlet></router-outlet>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Sumesh &amp; Sreelakshmi</h1>
                            <!-- <countdown [config]="{ leftTime: 3000 }" class="custom-style"></countdown> -->
							<h2>We Are Getting Married</h2>
                            <countdown [config]="config" class="custom-style simply-countdown simply-countdown-one"></countdown>							
							<!-- <p><a href="#" class="btn btn-default btn-sm">Save the date</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello! </h2>
					<h3>January 1st, 2022 Anachal, Munnar, Idukki</h3>
					<p>We invited you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="../../../assets/images/groom.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Sumesh T G</h3>
						<p>Love recognizes no barriers. It jumps hurdles, leap fences, penetrates walls to arrive at its destination full of hope.</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="../../../assets/images/bride.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Sreelakshmi K G</h3>
						<p>Whatever our souls are made of, his and mine are the same.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Main Ceremony</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>12:21 PM</span>
										<span>1:10 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sunday 01</span>
										<span>January, 2023</span>
									</div>
									<!-- <p>"Love recognizes no barriers. It jumps hurdles, leap fences, penetrates walls to arrive at its destination full of hope." </p> -->
                                    <p>Dear wedding guest, we invite you to the ceremony with love. We hope you would enjoy all the rituals and events laid out for the gala marriage occasion.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Wedding Party</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>1:30 PM</span>
										<span>3:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sunday 01</span>
										<span>January, 2023</span>
									</div>
									<p>Welcoming the wedding guest with good wishes. We are much happy to have you at the occasion to bless the bride and the groom with your love.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>Everywhere you walk, every place you go is full of art, explicit or hidden! If you can see them, you will be the richest art collector and your memory will be the richest art gallery!</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-1.jpg); "> 
						<a href="../../../assets/images/gallery-1.jpg">
							<div class="case-studies-summary">
								<span>1 Photo</span>
								<h2>Bound to Be</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-2.jpg); ">
						<a href="#" class="color-2">
							<div class="case-studies-summary">
								<span>1 Photo</span>
								<h2>The Story of Us!</h2>
							</div>
						</a>
					</li>


					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-3.jpg); ">
						<a href="#" class="color-3">
							<div class="case-studies-summary">
								<span>1 Photo</span>
								<h2>You and I</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-4.jpg); ">
						<a href="#" class="color-4">
							<div class="case-studies-summary">
								<span>1 Photo</span>
								<h2>Beginning Our Forever</h2>
							</div>
						</a>
					</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-5.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>1 Photo</span>
									<h2>From Now Until Forever</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-6.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>1 Photo</span>
									<h2>From This Day Forward</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../../assets/images/gallery-7.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>1 Photo</span>
									<h2>Little Joys in Life</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../../assets/images/gallery-8.jpg); "> 
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>1 Photo</span>
									<h2>Remember When</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../../assets/images/gallery-9.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>1 Photo</span>
									<h2>Our Best Times Together</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>

		
	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Save The Date</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-calendar"></i>
						</span>
						<div class="feature-copy">
							<h3>We Organized Events</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-image"></i>
						</span>
						<div class="feature-copy">
							<h3>Photoshoot</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-video"></i>
						</span>
						<div class="feature-copy">
							<h3>Save the date</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

				</div>

				<div class="col-md-6 animate-box">
					<div class="fh5co-video fh5co-bg" style="background-image: url(assets/images/img_bg_3.jpg); ">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>

			
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="" target="_blank">SuMeSh</a> </small>
					</p>
					<!-- <p>
                        <ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
                    </p>> -->
						
					
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../../../assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../../assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../../../assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../../../assets/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="../../../assets/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="../../../assets/js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="../../../assets/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../../assets/js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<!-- <script src="../../../assets/js/simplyCountdown.js"></script> -->
	<!-- Main -->
	<script src="../../../assets/js/main.js"></script>

	<script>
         $(document).ready(function () {
//     var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);
// alert(d);
//     // default example
//     simplyCountdown('.simply-countdown-one', {
//         year: d.getFullYear(),
//         month: d.getMonth() + 1,
//         day: d.getDate()
//     });

//     //jQuery example
//     $('#simply-countdown-losange').simplyCountdown({
//         year: d.getFullYear(),
//         month: d.getMonth() + 1,
//         day: d.getDate(),
//         enableUtc: false
//     });
});
</script>

	</body>
</html>

