
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://picsum.photos/400/300?random=1" alt="...">
        <div class="caption">
          <h3>print testing</h3>
          <p>...</p>
          <p>
            <button printSectionId="print-section" class="btn btn-primary" ngxPrint>Report</button>
            <button printSectionId="print-section" class="btn btn-default" ngxPrint>Register</button>
        </p>
        </div>
      </div>
    </div>
  </div>


<div id="print-section" style="display: none;">
    <h1>AL SHH MEDICAL LAB</h1>
    <h1>REPORTS</h1>
    <h2>Your token number is</h2>
    <h1> 1234</h1>
    <h3> Blah Blah Blah</h3>
    <h3> Blah Blah Blah</h3>
</div>

